
<div class="container">
	<br>
	<br>
	<br>
	<br>
	<center>
		<p class="register-success">
		  Su código fue registrado correctamente, haga <%= link_to "click aquí", new_customer_path %> para registrar otro código.
		</p>
	</center>
</div>
