<div class="row">
	<div class="col-sm-7 col-sm-offset-1">
		<h1>Formulario Mundial</h1>
	</div>
	<div class="col-sm-4">
	</div>
</div>
<br>
<div class="row">
	<div class="col-sm-5 col-sm-offset-1">
		<h3>Instrucciones</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce semper egestas diam a blandit. Cras a nisl eu eros ullamcorper dictum. Morbi sed laoreet nibh. Quisque lacus velit, accumsan gravida fringilla vitae, varius id ligula. Aenean blandit metus erat. Nullam at metus nec nisl egestas consectetur vel ut felis.</p>

		<div class="row">
			<div class="col-sm-10">
				<%= image_tag("tv-llantas.png", alt: "Televisor promoción Redllantas", class: "tv-image") %>
			</div>
		</div>
	</div>
	<div class="col-sm-5">
		<%= render 'form' %>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>

