/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require_self
 *= require_tree .
 */


.navbar-default {
	background-color: #EF0010;
	max-height: 70px;
	text-align: center;
}

.footer-text {
	color: #fff;
	margin: 10px 25px;
	font-size: 10px;
	line-height: 15px;
}


.footer-link {
	color: #fff;
	margin: 10px 25px;
	font-size: 12px;
	line-height: 15px;
}

.footer-link:hover {
	color: #f7f7f7;
	font-size: 13px;
}

.footer-logo {
	margin-top: -25px;
	position: relative;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@media screen and (max-width: 767px) {

	.footer-logo {
		display:none;
	}

}