// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
	color: #101010;
}

h1{
	text-shadow: 1px 1px 1px #000;
	color: #fff;
}

h3 {
	color:#101010;
	text-shadow: 1px 1px 1px #000;
	font-size: 30px;
}

p {
	text-shadow: 1px 1px 1px #000;
	font-size: 20px;
	line-height: 30px;
}

strong {
	color:#FFD119;
	text-shadow: 1px 1px 1px #000;
}


#error_explanation {
	border-style: solid;
	border-width: 1px;
	padding: 15px;
	margin: 15px;

	h2 {
		color: #000;
		display: none;
	}

	li {
		color: #000;
		font-size: 16px;
	}
}

.insert-code {
	color: #303030;
	text-weight: normal;
	
}



@media screen and (max-width: 770px) {

	.tv-image {
		max-width: 350px;
		margin-top: 2%;
		margin-left:15%;
	}

	.promo-logo {
		margin-left: 20%;
	}

	.kumho-logo {
		display: none;
	}


}

