// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
	color: #f8f8f8;
}

h1{
	text-shadow: 1px 1px 1px #000;
	color: #fff;
}

h3 {
	color:#FFD119;
	text-shadow: 1px 1px 1px #000;
	font-size: 30px;
}

p {
	text-shadow: 1px 1px 1px #000;
	font-size: 20px;
	line-height: 30px;
}

strong {
	color:#FFD119;
	text-shadow: 1px 1px 1px #000;
}

.container {
	background-image: asset-url("background-kumho.png", image);
	background-position: center;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}


.promo-logo {
	min-width: 250px;
}


.tv-image {
	width: 80%;
	margin-top: 20%;
	margin-left: 15%;
}

#error_explanation {
	border-style: solid;
	border-width: 1px;
	padding: 15px;
	margin: 15px;
	text-shadow: 1px 1px 1px #000;

	h2 {
		color: #ffd119;
		display: none;
	}

	li {
		color: #ffd119;
		font-size: 16px;
	}
}

.insert-code {
	color: #ffd119;
	text-shadow: 1px 1px 1px #000;
	font-size: 17px;
	
}

#input-code {
	background: #FF4D4D;
	padding: 25px;
	color: #fff;
	font-size: 20px;
	text-align: center;

}

@media screen and (max-width: 770px) {

	.tv-image {
		max-width: 350px;
		margin-top: 2%;
		margin-left:15%;
	}

	.promo-logo {
		margin-left: 20%;
	}

	.kumho-logo {
		display: none;
	}


}

